.sub_box2  {
    font-size: 22px;
    margin-bottom: 15px;
    color: #090000;
    text-align: center;
}

.join-button {
  width: 100%;        /* 横幅いっぱいに */
  max-width: 300px;   /* 入力欄に合わせる */
  height: 44px;       /* ボタンの高さ */
    font-size: 18px;
    background-color:   #cb3842;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.join-button:hover {
  background-color: #ab1b1b; /* ホバー時に色を変える */
}
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-friend {
  margin-top: 30px;          /* 上に余白を作る */
  align-self: center;        /* 横方向中央揃え（flex時） */
  font-size: 16px;
  background-color: #cb3842;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.close-friend:hover {
  background-color: #ab1b1b;
}
.close-howto {
  margin-top: 30px;          /* 上に余白を作る */
  align-self: center;        /* 横方向中央揃え（flex時） */
  font-size: 16px;
  background-color: #cb3842;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.close-howto:hover {
  background-color: #ab1b1b;
}
.room-inputs {
  display: flex;
  gap: 10px; /* マス間の隙間 */
  justify-content: center;
  margin: 20px 0; /* 上下の余白 */
}

.room-inputs input {
  width: 60px;        /* マスの横幅 */
  height: 60px;       /* マスの高さ */
  font-size: 32px;    /* 大きめの数字フォント */
  text-align: center; /* 中央揃え */
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.2s ease;
}

.room-inputs input:focus {
  border-color: #cb3842;
  box-shadow: 0 0 5px #cb3842;
}
