.title {
    margin-left: auto;
    margin-top:40;
    margin-bottom:28;
}
.name {
    font-size: 24;
    text-align: center;
    border-bottom: 2px solid white;
}
.mypoint {
    font-size: 24;
    margin-top:36;
    text-align: center;
    border-bottom: 2px solid white;
}
.yourpoint {
    font-size: 24;
    margin-top: 36;
    text-align: center;
    border-bottom: 2px solid white;
}
.box {
  width: 500px; 
  margin: 50px auto; 
  background-color: #2b2b2b; 
  border-radius: 10px; 
  color: #e0e0e0; 
  padding: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}
.again {
    text-align: center;
}
button {
    font-size: 20;
    background-color: #E8B5B8;
    border-radius: 10px;
    padding: 15px 10px;
}
